---
import Layout from "../layouts/Layout.astro";
import Why from "../components/Why.astro";
import Product from "../components/Product.astro";
import Faq from "../components/Faq.astro";
import Process from "../components/Process.astro";
import Button from "../components/Button.astro";
import Ourteam from "../components/Ourteam.astro";
---


<Layout
  title="Mignesh Global"
  meta_title="NHAI Approved Bitumen, Lubricants MAnufacturer adn Supplier - Mignesh Global"
  meta_desc="Mignesh Global supplies top quality industrial oils, bitumen, lubricants, emulsion and more catering to construction, manufacturing and infrastructure sectors."
>
  <main>
    <!-- slider section  -->
    <section class="slider bg-[#D9D9D9] relative overflow-hidden">
      <!-- Image 1 -->
      <div
        class="slide-1 sm:h-[60vh] md:h-[80vh] ssm:min-h-[328px] ssm:max-h-[360px] md:min-h-[400px] md:max-h-[550px] lg:h-screen lg:max-h-[701px] object-cover relative md:ml-[30vw] lg:ml-[15vw] xl:ml-[5vw] 2xl:ml-0"
      >
        <img
          class="block ssm:hidden h-full w-auto msm:w-full object-cover"
          src="../../public/images/index/slide_1_2.webp"

          alt="Image"
        />
        <img
          class="h-full absolute top-0 left-[30vh] max-w-none object-cover object-center md:object-left hidden ssm:block md:hidden"
          src="../../public/images/index/slide_1_1.webp"

          alt="Image"
        />
        <img
          class="hidden md:block h-full object-cover object-left md:ml-auto absolute top-0 right-0"
          src="../../public/images/index/slide_1.webp"

          alt="Image"
        />
        <div
          class="absolute hidden ssm:block max-w-[150px] md:max-w-[180px] bottom-5 left-[42vh] md:left-auto w-[35%] md:right-auto md:bottom-10 lg:bottom-20 lg:max-w-[240px] xl:max-w-[300px] 2xl:max-w-max lg:w-auto xl:right-[950px] 2xl:left-auto 2xl:right-[967px]"
        >

          <img src="../../public/images/index/drum.webp" alt="Image" />
        </div>
      </div>

      <!-- Image 2 -->
      <div
        class="slide-2 hidden sm:h-[60vh] md:h-[80vh] ssm:min-h-[328px] ssm:max-h-[360px] md:min-h-[400px] md:max-h-[550px] lg:h-screen lg:max-h-[701px] object-cover relative md:ml-[30vw] lg:ml-[15vw] xl:ml-[5vw] 2xl:ml-0"
      >
        <img
          class="block ssm:hidden h-full w-auto msm:w-full object-cover"
          src="../../public/images/index/slide_2_2.webp"

          alt="Image"
        />
        <img
          class="h-full absolute top-0 left-[30vh] max-w-none object-cover object-center md:object-left hidden ssm:block md:hidden"
          src="../../public/images/index/slide_2_1.webp"

          alt="Image"
        />
        <img
          class="hidden md:block h-full object-cover object-left md:ml-auto absolute top-0 right-0"
          src="../../public/images/index/slide_2.webp"

          alt="Image"
        />
        <div
          class="absolute hidden ssm:block max-w-[150px] md:max-w-[180px] bottom-5 left-[42vh] md:left-auto w-[35%] md:right-auto md:bottom-10 lg:bottom-20 lg:max-w-[240px] xl:max-w-[300px] 2xl:max-w-max lg:w-auto xl:right-[950px] 2xl:left-auto 2xl:right-[967px]"
        >

          <img src="../../public/images/index/truck.webp" alt="Image" />
        </div>
      </div>

      <!-- Image 3 -->
      <div
        class="slide-3 hidden sm:h-[60vh] md:h-[80vh] ssm:min-h-[328px] ssm:max-h-[360px] md:min-h-[400px] md:max-h-[550px] lg:h-screen lg:max-h-[701px] object-cover relative md:ml-[30vw] lg:ml-[15vw] xl:ml-[5vw] 2xl:ml-0"
      >
        <img
          class="block ssm:hidden h-full w-auto msm:w-full object-cover"
          src="../../public/images/index/slide_3_2.webp"

          alt="Image"

        />
        <img
          class="h-full absolute top-0 left-[30vh] max-w-none object-cover object-center md:object-left hidden ssm:block md:hidden"
          src="../../public/images/index/slide_3_1.webp"

          alt="Image"
        />
        <img
          class="hidden md:block h-full object-cover object-left md:ml-auto absolute top-0 right-0"
          src="../../public/images/index/slide_3.webp"

          alt="Image"
        />
        <div
          class="absolute hidden ssm:block max-w-[150px] md:max-w-[180px] bottom-5 left-[42vh] md:left-auto w-[35%] md:right-auto md:bottom-10 lg:bottom-20 lg:max-w-[240px] xl:max-w-[300px] 2xl:max-w-max lg:w-auto xl:right-[950px] 2xl:left-auto 2xl:right-[967px]"
        >

          <img src="../../public/images/index/oil.webp" alt="Image" />
        </div>
      </div>

      <!-- Image 4 -->
      <div
        class="slide-4 hidden sm:h-[60vh] md:h-[80vh] ssm:min-h-[328px] ssm:max-h-[360px] md:min-h-[400px] md:max-h-[550px] lg:h-screen lg:max-h-[701px] object-cover relative md:ml-[30vw] lg:ml-[15vw] xl:ml-[5vw] 2xl:ml-0"
      >
        <img
          class="block ssm:hidden h-full w-auto msm:w-full object-cover"
          src="../../public/images/index/slide_4_2.webp"

          alt="Image"

        />
        <img
          class="h-full absolute top-0 left-[30vh] max-w-none object-cover object-center md:object-left hidden ssm:block md:hidden"
          src="../../public/images/index/slide_4_1.webp"

          alt="Image"
        />
        <img
          class="hidden md:block h-full object-cover object-left md:ml-auto absolute top-0 right-0"
          src="../../public/images/index/slide_4.webp"

          alt="Image"
        />
        <div
          class="absolute hidden ssm:block max-w-[150px] md:max-w-[180px] bottom-5 left-[42vh] md:left-auto w-[35%] md:right-auto md:bottom-10 lg:bottom-20 lg:max-w-[240px] xl:max-w-[300px] 2xl:max-w-max lg:w-auto xl:right-[950px] 2xl:left-auto 2xl:right-[967px]"
        >

          <img src="../../public/images/index/bricks.webp" alt="Image" />

        </div>
      </div>

      <!-- Slider Caption  -->
      <div class="txt md:w-full ssm:absolute left-0 top-0">
        <div class="w-fit md:w-auto container-1">
          <div
            class="caption py-4 ssm:p-4 sm:p-8 md:px-0 md:py-16 ssm:max-w-[350px] sm:max-w-[400px]"
          >
            <h2
              class="text-2xl md:text-[40px] md:leading-[48px] text-[#48389C] uppercase md:w-[386px]"
            >
              <span class="normal-case text-xl md:text-[32px]">
                Welcome to
                <br />
              </span>
              <span class="text-3xl md:text-[48px] font-bold">Mignesh</span>

              Global!

            </h2>
            <p
              class="text-base md:text-[18px] md:leading-6 md:w-[414px] text-[#2C2C2C] my-2.5 md:mt-5 md:mb-6"
            >
              Your one-stop platform to purchase high-quality Infrastructure &
              Lubricant products such as Bitumen, Emulsion, Base Oil, Furnace
              Oil, etc.
            </p>

            <Button data="CHECK PRODUCTS" link="#product_section" />
          </div>
        </div>
      </div>

      <!-- Slider Buttons Container -->
      <div
        class="btns flex gap-3 flex-col h-[50vh] md:h-full left-[20px] lg:left-7 justify-center items-center absolute top-0"
      >

        <button
          class="btn-1 bg-[#E98135] w-[5px] h-[30px] rounded-[3px]"
          aria-label="Slider Buttons 1"></button>
        <button
          class="btn-2 bg-[#2E2C7090] w-[5px] h-[30px] rounded-[3px]"
          aria-label="Slider Buttons 2"></button>
        <button
          class="btn-3 bg-[#2E2C7090] w-[5px] h-[30px] rounded-[3px]"
          aria-label="Slider Buttons 3"></button>
        <button
          class="btn-4 bg-[#2E2C7090] w-[5px] h-[30px] rounded-[3px]"
          aria-label="Slider Buttons 4"></button>
      </div>
    </section>

    <!-- Why choose us section  -->
    <section
      class="why bg-gradient-to-r from-[#242D4A] to-[#4B5EAA] text-white"
    >
      <div
        class="container-1 flex flex-col lg:flex-row justify-between items-center py-8 lg:py-0"
      >
        <div class="item-1 lg:max-w-[524px] lg:w-[40%]">

          <img
            class=""
            src="../../public/images/index/why_main.webp"
            loading="lazy"
            alt="Image"
          />
          <p class="text-xl sm:text-[32px] mt-4 sm:mt-6 sm:leading-10">
            Get the best quality products at
          </p>
          <h2
            class="text-3xl ssm:text-[40px] sm:leading-[50px] sm:text-5xl font-bold"
          >
            pocket-friendly rates!
          </h2>
          <p class="text-base mt-4 sm:mt-8 lg:max-w-[463px]">
            Mignesh Global is the leading Company offering a wide range of
            products for all Infrastructure and Manufacturing companies looking
            to get high-quality products at the best rate and in a shorter time.
          </p>
        </div>

        <div class="item-2 w-full lg:w-[48%] mt-4 sm:mt-8 lg:mt-0 lg:py-[82px]">
          <div class="heading sm:mb-2">
            <h3 class="text-2xl lg:ml-[-16px]">Why Choose Us?</h3>
          </div>

          <!-- All Items  -->
          <div
            class="card flex flex-col ssm:flex-row sm:flex-col gap-2.5 lg:gap-0"
          >
            <!-- First Row  -->
            <div
              class="card ssm:w-[50%] sm:w-full flex flex-col sm:flex-row items-center md:justify-between gap-2.5 lg:gap-0"
            >
              <Why
                source="../../public/images/index/why_1.svg"
                body="One-stop platform for a variety of products!"
              />
              <Why
                source="../../public/images/index/why_4.svg"
                body="Fast Distribution with Mignesh Logistics."
              />
              <Why
                source="../../public/images/index/why_6.svg"
                body="End-to-End Customer Support."
              />
            </div>

            <!-- Second Row  -->
            <div
              class="card ssm:w-[50%] sm:w-full flex flex-col sm:flex-row items-center md:justify-between gap-2.5 lg:gap-0"
            >
              <Why
                source="../../public/images/index/why_2.svg"
                body="Best Market <br class='hidden ssm:block'> Rates."
              />
              <Why
                source="../../public/images/index/why_3.svg"
                body="Free <br class='hidden ssm:block'> Samples."
              />
              <Why
                source="../../public/images/index/why_5.svg"
                body="High-quality, <br class='hidden ssm:block'> trusted products."
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- product section  -->
    <section class="products" id="product_section">
      <div class="products container-1 py-8 sm:py-14 lg:py-20">
        <!-- Heading  -->
        <div class="head-txt text-center md:text-left">

          <h3 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
            Browse through our diverse
          </h3>
          <h3
            class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase"
          >
            range of products
          </h3>
        </div>

        <!-- All Products  -->
        <div
          class="products w-full grid md:grid-cols-2 xl:grid-cols-3 gap-[20px] md:gap-[26px] justify-center md:justify-between mt-4 sm:mt-7 md:mt-[30px] lg:mt-[60px] m-auto"
        >
          <Product
            title="Bitumen & Bitumen Products"
            ,
            body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text"
            body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS"
            ,
            source="../../public/images/index/product_1.webp"
            btn="Bitumen & Bitumen Products"
            link="/bitumen"
          />

          <Product
            title="Lubricant Raw Material"
            ,
            body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text"
            body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS"
            ,
            source="../../public/images/index/product_2.webp"
            btn="Lubricant Raw Material"
            link="/lubricant"
          />

          <Product
            title="<p>Petroleum Products</p>"
            ,
            body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text					"
            body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS"
            ,
            source="../../public/images/index/product_4.webp"
            btn="Petroleum Products"
            link="/petroleum"
          />

        </div>
      </div>
    </section>

    <!-- ordering section  -->
    <section class="ordering bg-[#F9F9FB] overflow-hidden">
      <div
        class="ordering container-1 py-8 sm:py-14 lg:py-20 lg:pb-[117px] xl:pb-[145px] 2xl:pb-[90px]"
      >
        <!-- Heading  -->
        <div class="head text-center lg:text-left">

          <h2 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
            5-step easy
          </h2>
          <h3
            class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase"
          >
            ordering process!
          </h3>
        </div>

        <!-- All Process  -->
        <div
          id="bg-union"
          class="pl-4 lg:pl-0 lg:bg-[url(../../../../../public/images/index/union.webp)] bg-no-repeat bg-contain xl:mx-20 gap-5 mt-4 sm:mt-5 lg:mt-0"
        >
          <div
            class="lg:flex flex-col lg:flex-row justify-center relative lg:bottom-[9px] xl:bottom-[9px] 2xl:bottom-[38px] lg:gap-6 xl:gap-8 2xl:gap-16 2xl:ml-20 lg:left-[100px] xl:left-0"
          >
            <Process
              title="Choose the right products."
              ,
              body="You can browse the range of products from our website and choose as per your requirements."
              source1="../../public/images/index/process_1.webp"
              ,
              source2="../../public/images/index/1.svg"
            />
            <Process
              title="Reach out to us!"
              ,
              body="You can reach out to (91) 96014 76223 and place your order with us."
              source1="../../public/images/index/process_2.webp"
              ,
              source2="../../public/images/index/2.svg"
            />
          </div>

          <div
            class="lg:flex flex-col lg:flex-row-reverse justify-around relative lg:bottom-[-31px] xl:bottom-[-40px] 2xl:bottom-[-11px] lg:gap-5 2xl:gap-10"
          >
            <Process
              title="Sample checking!"
              ,
              body="To analyze the quality of our products, we will send you some of the pictures and report for the products via Whatsapp or email. If you want, we can even send the sample to you before placing an order."
              source1="../../public/images/index/process_3.webp"
              ,
              source2="../../public/images/index/3.svg"
            />
            <Process
              title="Final Payment"
              ,
              body="If you find everything well, you can make a final payment for the confirmation of your order."
              source1="../../public/images/index/process_4.webp"
              ,
              source2="../../public/images/index/4.svg"
            />
            <Process
              title="Seamless Tracking"
              ,
              body="The process is not over yet! After making final payment, you can even track your products status through our end-to-end GPS tracking."
              source1="../../public/images/index/process_5.webp"
              ,
              source2="../../public/images/index/5.svg"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- client section  -->
    <section class="client" id="client_section">
      <div class="client container-1 py-8 sm:py-14 lg:py-20">
        <!-- Heading  -->
        <div class="head text-center md:text-left">

          <h2 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
            Our
          </h2>
          <h3
            class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase"
          >
            Esteemed Clients!
          </h3>
        </div>

        <!-- Client Slider Jquery -->
        <div class="customer-logos w-full slider mt-4 sm:mt-6 md:mt-12">

          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/Of_Business.webp"
              alt="Image"
            />
          </div>

          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/HK RMC Logo.webp"
              alt="Image"
            />
          </div>
          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/VR_PetroChem.webp"
              alt="Image"
            />
          </div>

          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/Sabar_dairy.webp"
              alt="Image"
            />
          </div>


          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/Maruti-LOGO.webp"
              alt="Image"
            />
          </div>



          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/vevelon_logo.webp"
              alt="Image"
            />
          </div>
          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/Vijay_Construction.webp"
              alt="Image"
            />
          </div>



          <div class="slide">
            <img
              decoding="async"
              src="../../public/images/index/Pertners_Logo/Zippmat.webp"
              alt="Image"
            />
          </div>


        </div>
      </div>
    </section>

    <!--refinery section-->
    <section class="refinery bg-[#F9F9FB]">
      <div class="refinery container-1 py-8 sm:py-14 lg:py-20">
        <div
          class="head-content flex flex-col md:flex-row gap-4 md:gap-0 justify-between"
        >
          <!-- Heading  -->
          <div class="head text-center md:text-left">
            <!-- <h6
              class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7"
            >
              Bitumen
            </h6> -->
            <h2
              class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase"
            >
              Price IN INDIA
            </h2>
          </div>

          <!-- Select Box  -->
          <div
            class="selectbox w-full md:max-w-[300px] lg:max-w-[440px] bg-white"
          >
            <select
              name="refinery"

              aria-label="select refinery"

              id="refinery-select"
              class="border rounded-lg w-full p-2 sm:p-4 font-bold border-slate-300"
            >
            </select>
          </div>
        </div>

        <!-- PDF Section  -->
        <div class="mt-8 md:mt-12">
          <div
            class="thead bg-[#5A6079] text-white flex flex-col md:flex-row justify-between gap-2.5 border-white"
          >
            <h3
              class="text-lg md:text-2xl md:leading-6 font-bold p-2.5 sm:p-[14px]"
              id="refinery-head"
            >
            </h3>
            <div
              id="date-picker-section"
              class="font-semibold text-base flex items-center md:items-start lg:items-center gap-2.5 cursor-pointer select-none p-2.5 sm:p-[14px]"
            >
              <div class="calendar-icon relative">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.12149 16H13.2859C14.4563 16 15.4074 15.0489 15.4074 13.8785V3.30665C15.4074 2.13628 14.4563 1.18516 13.2859 1.18516H12.4445V0.592582C12.4445 0.266652 12.1778 0 11.8518 0C11.5259 0 11.2592 0.266652 11.2592 0.592582V1.18516H4.14817V0.592582C4.14817 0.266652 3.88147 0 3.55554 0C3.22961 0 2.96296 0.266652 2.96296 0.592582V1.18516H2.12149C0.951119 1.18516 0 2.13628 0 3.30665V13.8785C0 15.0489 0.951119 16 2.12149 16ZM1.18521 3.30665C1.18521 2.79111 1.60595 2.37038 2.12149 2.37038H2.96296V2.96296C2.96296 3.28889 3.22961 3.55554 3.55554 3.55554C3.88147 3.55554 4.14812 3.28889 4.14812 2.96296V2.37038H11.2592V2.96296C11.2592 3.28889 11.5259 3.55554 11.8518 3.55554C12.1778 3.55554 12.4444 3.28889 12.4444 2.96296V2.37038H13.2859C13.8014 2.37038 14.2222 2.79111 14.2222 3.30665V5.03704H1.18521V3.30665ZM1.18521 6.22221H14.2223V13.8785C14.2223 14.3941 13.8015 14.8148 13.286 14.8148H2.12149C1.60595 14.8148 1.18521 14.3941 1.18521 13.8785V6.22221Z"
                    fill="white"></path>
                </svg>

                <div
                  id="date-picker"
                  class="date-picker hidden bg-[#e4e4e4] w-[270px] py-2.5 max-h-[270px] overflow-y-auto top-[34px] absolute text-black rounded-lg shadow-[0px_0px_25px_5px_rgba(0,0,0,0.1)]"
                >
                  <div
                    id="month-picker"
                    class="it w-[80%] m-auto flex flex-col gap-2 py-1 text-center"
                  >
                  </div>
                </div>
              </div>
              <span id="last-updated"></span>
              <svg
                class="rotate-90"
                width="9"
                height="12"
                viewBox="0 0 9 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.917 12.009L0 10.122L4.182 6.005L0 1.887L1.917 0L8.014 6.005L1.917 12.009Z"
                  fill="white"></path>
              </svg>
            </div>
          </div>

          <div
            class="ref-table overflow-scroll lg:overflow-hidden max-h-[550px] max-w-[100%] lg:max-h-[650px]"
          >
            <object
              id="pdf-view"
              class="pdf-view"
              data=""
              type="application/pdf"
              width="100%"
              height="650"
            >
              <img id="pdf-image" class="object-cover" src="" alt="" />
            </object>
          </div>
          <div class="w-fit mt-8 mx-auto" id="download-btn">
            <Button data="Download Price List PDF" link="" />
          </div>
        </div>
      </div>
    </section>

    <!-- CTA source section  -->
    <section class="source bg-gradient-to-r from-[#242D4A] to-[#4B5EAA]">
      <div class="source container-1">
        <div
          class="py-8 md:py-14 gap-8 flex flex-col-reverse md:flex-row justify-between items-center text-white"
        >
          <!-- CTA Text  -->
          <div class="md:w-[65%] lg:w-[65%] xl:w-auto">
            <h2
              class="text-center font-bold text-xl ssm:text-2xl sm:text-3xl lg:text-[48px] lg:leading-[56px] mb-6 md:text-left"
            >
              Source the high-quality products<br class="hidden xl:block" />

              from Mignesh Global!
            </h2>
            <div class="m-auto w-fit md:m-0">
              <Button data="CHECK PRODUCTS NOW" link="#product_section" />
            </div>
          </div>

          <!-- CTA Image -->
          <div
            class="w-[70%] md:w-auto flex items-center justify-center md:mr-20"
          >

            <img src="../../public/images/index/drum_1.webp" alt="Image" />
          </div>
        </div>
      </div>
    </section>

    <!-- team section  -->
    <section class="team">
      <div class="team container-1 py-8 sm:py-14 lg:py-20">
        <!-- Heading -->
        <div class="head text-center md:text-left">

          <h2 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
            Meet
          </h2>
          <h3
            class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase"
          >
            Our TEAM
          </h3>
        </div>

        <!-- All Team Members  -->
        <div
          class="members text-center flex gap-8 ssm:gap-12 md:gap-10 items-center flex-col md:flex-row justify-between mt-4 sm:mt-10 ssm:mx-5 xl:mx-[68px] m-auto"
        >
          <Ourteam
            url="../../public/images/team/team_1.webp"
            ,
            ,
            name="Arjun N. Pachani"
            ,
            position="Managing Director"
            links={true}
            ,
            facebook="https://www.facebook.com/arjun.pachani.3?mibextid=LQQJ4d"
            ,
            twitter="https://twitter.com/arjunpachani105?t=jjE8BJF8kTh12yFDA_bVkA&s=08"
            ,
            linkedin="https://www.linkedin.com/in/arjunkumar-n-pachani-2a047548?"
          />

          <Ourteam
            url="../../public/images/team/team_2.webp"
            ,
            name="Trusha Pachani"
            ,
            position="Director"
            links={true}
            ,
            facebook="https://www.facebook.com/trusha.patel.520?mibextid=ZbWKwL"
            ,
            linkedin="https://www.linkedin.com/in/trusha-pachani-58037b251?"
          />

          <Ourteam
            url="../../public/images/team/team_4.webp"
            ,
            name="Hemanshu Vamja"
            ,
            position="Director (Finance)"
            links={true}
            ,
            facebook="https://www.facebook.com/hemanshu.vamja.92?mibextid=ZbWKwL"
            ,
            twitter="https://twitter.com/hemanshu_vamja?t=_4GN0e66oqRdxzDw8reD8Q&s=08"
            ,
            linkedin="https://www.linkedin.com/in/hemanshu-vamja-365258a4?"
          />
        </div>
      </div>
    </section>

    <!-- faq section  -->
    <section class="faq bg-[#5A6079] text-white">
      <div class="faq container-1 py-8 sm:py-14 lg:py-[72px]">
        <!-- Heading -->
        <div class="head text-center md:text-left mb-4 sm:mb-16">

          <h2 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
            FAQs
          </h2>
          <h3 class="text-2xl sm:text-[32px] md:leading-7 font-bold uppercase">
            Frequently Asked Questions
          </h3>
        </div>

        <!-- All FAQ Text  -->
        <div
          class="grid md:grid-cols-2 justify-center gap-5 ssm:gap-7 md:gap-10 lg:gap-16 2xl:gap-10 xl:gap-y-[60px] lg:px-5"
        >
          <Faq
            source="../../public/images/index/faq_1.svg"
            ,
            head="Does Mignesh Global Ltd have a minimum order requirement for their products?"
            ,
            body="Yes, Mignesh Global Ltd has a minimum order requirement. You need to place an order of at least 20,000kg or 20,000 liters on our website."
          />

          <Faq
            source="../../public/images/index/faq_2.svg"
            ,
            head="Do you have imported products on your website?"
            ,
            body="Yes, we have a wide range of imported products available on our platforms. As per your unique requirements, you can reach out to us, and we will help you out!"
          />

          <Faq
            source="../../public/images/index/faq_3.svg"
            ,
            head="Can I check the samples of your product before ordering?"
            ,
            body="Yes, you can surely check the samples of the product before ordering. We can send you some of the pictures and report for the products via Whatsapp or email. Also - If you want, we can even send the sample to you before placing an order."
          />

          <Faq
            source="../../public/images/index/faq_4.svg"
            ,
            head="How do you ensure the seamless distribution of our products?"
            ,
            body="Yes, we have a wide range of imported products available on our platforms. As per your unique requirements, you can reach out to us, and we will help you out!  "
          />

          <Faq
            source="../../public/images/index/faq_5.svg"
            ,
            head="Which payment methods do you accept at Mignesh Global Ltd?"
            ,
            body="Mignesh Global Ltd accepts payment through various modes, including direct bank transfer, credit card, and debit card."
          />

          <Faq
            source="../../public/images/index/faq_6.svg"
            ,
            head="How much time does it take to deliver my products? "
            ,
            body="The time to deliver your products is based on the unloading location and distance. In general, it would take around 1 to 7 days to deliver your products. Our logistics company ensures quick delivery due to our strong distribution channel. "
          />
        </div>
      </div>
    </section>

    <!-- Client Section Slider Jquery Script   -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
    />
    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
    ></script>
    <script src="../../public/js/client_slide.js"></script>
  </main>

  <script>

    const apiKey = import.meta.env.PUBLIC_ApiKey as string;

    const secretKey = import.meta.env.PUBLIC_SecretKey as string;

    //dropdown date menu
    const refineryDateSection = document.getElementById("date-picker-section");
    const refineryDate = document.getElementById("date-picker");
    refineryDateSection.addEventListener("click", () => {
      if (refineryDate.classList.contains("hidden")) {
        refineryDate.classList.remove("hidden");
      } else {
        refineryDate.classList.add("hidden");
      }
    });

    // All the refinery Published Data API
    const refinary_all_data = await fetch(
      // `https://mignesh.frappe.cloud/api/resource/Refinery%20Price%20List?filters=[[%22publish%22,%22=%22,1]]&fields=[%22refinery_name%22,%22price_list%22,%22price_list_image%22,%22custom_name%22,%22check_first%22,%22creation%22,%22name%22,%22from_date%22,%22month%22]`,
      `http://192.168.2.126:8001/api/resource/Refinery%20Price%20List?filters=[[%22publish%22,%22=%22,1]]&fields=[%22refinery_name%22,%22price_list%22,%22price_list_image%22,%22custom_name%22,%22check_first%22,%22creation%22,%22name%22,%22from_date%22,%22month%22]`,
      {
        method: "GET",
        headers: {
          Authorization: `token ${apiKey}:${secretKey}`,
        },

      }
    );
    const refinary_object = await refinary_all_data.json();
    const refinary_data = refinary_object.data;
    // console.log(refinary_data);

    // all the rifinery Brand Data API
    const refinary_list_json = await fetch(
      // `https://mignesh.frappe.cloud/api/resource/Brand`,
      `http://192.168.2.126:8001/api/resource/Brand`,
      {
        method: "GET",
        headers: {
          Authorization: `token ${apiKey}:${secretKey}`,
        },

      }
    );
    const refinary_list_data = await refinary_list_json.json();
    const refinary_list = refinary_list_data.data;

    // For the Filter all The data on the bases of Refinery name
    const jsonData = refinary_data;
    // console.log(jsonData);
    const que = refinary_list;
    // console.log(que)
    const subCategoryData = {};

    for (const item of que) {
      const name = item.name;
      const temp = [];
      const blank = [];
      for (const dataItem of jsonData) {
        // console.log(dataItem)
        if (dataItem.refinery_name === name) {
          // console.log(name);
          temp.push(dataItem);
        }
      }
      // console.log(temp)

      // if the array is empty then dont append it to the object
      if (temp.length === 0) {
        // console.log("HI")
      } else {
        subCategoryData[name] = temp;
      }
    }
    // console.log(subCategoryData);

    //for the sorting refinery as per the from date
    var refinery_select_data = [];
    var date_refinery_data = [];
    for (const item in subCategoryData) {
      // console.log(subCategoryData[item]);
      const data = subCategoryData[item];
      const filteredData = data.filter((item) => item.from_date);

      // Sort the filtered data in ascending order based on from_date
      filteredData.sort((b, a) => a.from_date.localeCompare(b.from_date));
      refinery_select_data.push(filteredData[0]);
      // console.log(filteredData[0]);
      // console.log(filteredData);
      filteredData.forEach((element) => {
        date_refinery_data.push(element);
      });
    }

    //On load
    // select element for the pdf view
    const refinerySelect = document.getElementById("refinery-select");
    refinery_select_data.forEach((data) => {
      const option = document.createElement("option");
      option.value = data.refinery_name;
      option.innerText = data.refinery_name;
      option.classList.add("h");
      refinerySelect.appendChild(option);
    });
    var selectedValue = (refinerySelect as HTMLSelectElement).value;
    var refineryHead = document.getElementById("refinery-head");
    refineryHead.innerText = (refinerySelect as HTMLSelectElement).value;

    //load pdf as per the select field
    refinery_select_data.forEach((data) => {
      // console.log(data.refinery_name)
      if (data.refinery_name == selectedValue) {
        const pdfView = document.getElementById("pdf-view");
        const pdfImage = document.getElementById("pdf-image");
        pdfView.addEventListener("load", function () {
          pdfView.style.height = "650px";
          // console.log('PDF viewer has been forcefully loaded.');
        });

        const lastUdated = document.getElementById("last-updated");
        lastUdated.innerText =
          "Last Updated on " +
          data.month +
          " " +
          data.from_date.slice(8, 11) +
          ", " +
          data.from_date.slice(0, 4);

        // for pdf element
        (pdfView as HTMLObjectElement).data =
          "https://www.migneshglobal.com" + data.price_list + "#view=FitH";

        // for image element
        (pdfImage as HTMLImageElement).src =
          "https://www.migneshglobal.com" + data.price_list_image;

        // for download button
        const DownloadBtn = document
          .getElementById("download-btn")
          .querySelector(".btn-6") as HTMLAnchorElement;
        DownloadBtn.href = "https://www.migneshglobal.com" + data.price_list;
        DownloadBtn.download = data.price_list.slice(7);
      }
    });

    // for the date picker dropdown
    const MonthPicker_div = document.getElementById("month-picker");
    MonthPicker_div.innerHTML = "";
    // console.log(MonthPicker_div);

    // for rendering the data as per the record
    date_refinery_data.forEach((element) => {
      if (element.refinery_name == selectedValue) {
        // console.log(element);
        var temp = "";
        if (element.check_first == 1) {
          temp = " 1st Half";
        } else {
          temp = " 2nd Half";
        }
        var innerP = document.createElement("p");
        innerP.addEventListener("click", () => {
          const pdfView = document.getElementById("pdf-view");
          const pdfImage = document.getElementById("pdf-image");
          // for pdf
          if (
            (pdfView as HTMLObjectElement).data !=
            "https://www.migneshglobal.com" + element.price_list + "#view=FitH"
          ) {
            (pdfView as HTMLObjectElement).data =

              "https://www.migneshglobal.com" +
              element.price_list +
              "#view=FitH";
          }
          // for image
          (pdfImage as HTMLImageElement).src =
            "https://www.migneshglobal.com" + element.price_list_image;
          // for download button
          const DownloadBtn = document
            .getElementById("download-btn")
            .querySelector(".btn-6") as HTMLAnchorElement;

          DownloadBtn.href =
            "https://www.migneshglobal.com" + element.price_list;

          DownloadBtn.download = element.price_list.slice(7);
        });
        innerP.innerText = element.custom_name;
        innerP.classList.add("bg-[#ffffff]", "py-1", "px-2", "rounded-lg");
        MonthPicker_div.appendChild(innerP);
      }
    });

    //Change event on the selectbox
    refinerySelect.addEventListener("change", function () {
      // hide the dropdown menu as the select changes
      refineryDate.classList.add("hidden");

      var selectedValue = (refinerySelect as HTMLSelectElement).value;
      var options = refinerySelect.querySelectorAll("option");

      // for the options of the selectbox
      options.forEach(function (option) {
        if (option.value === selectedValue) {
          refineryHead.innerText = selectedValue;
          refinery_select_data.forEach((data) => {
            if (data.refinery_name == selectedValue) {
              const lastUdated = document.getElementById("last-updated");
              lastUdated.innerText =
                "Last Updated on " +
                data.month +
                " " +
                data.from_date.slice(8, 11) +
                ", " +
                data.from_date.slice(0, 4);
              const pdfView = document.getElementById("pdf-view");
              const pdfImage = document.getElementById("pdf-image");

              // for download button
              const DownloadBtn = document
                .getElementById("download-btn")
                .querySelector(".btn-6") as HTMLAnchorElement;

              DownloadBtn.href =
                "https://www.migneshglobal.com" + data.price_list;

              DownloadBtn.download = data.price_list.slice(7);

              // for pdf
              (pdfView as HTMLObjectElement).data =

                "https://www.migneshglobal.com" +
                data.price_list +
                "#view=FitH";


              // for image
              (pdfImage as HTMLImageElement).src =
                "https://www.migneshglobal.com" + data.price_list_image;
            }
          });
        }
      });

      // for the datepicker dropdown
      const MonthPicker_div = document.getElementById("month-picker");
      MonthPicker_div.innerHTML = "";

      // for rendering the data as per the record
      date_refinery_data.forEach((element) => {
        if (element.refinery_name == selectedValue) {
          // console.log(element);
          var temp = "";
          if (element.check_first == 1) {
            temp = " 1st Half";
          } else {
            temp = " 2nd Half";
          }
          var innerP = document.createElement("p");
          innerP.addEventListener("click", () => {
            const pdfView = document.getElementById("pdf-view");
            const pdfImage = document.getElementById("pdf-image");
            // for pdf
            if (
              (pdfView as HTMLObjectElement).data !=

              "https://www.migneshglobal.com" +
                element.price_list +
                "#view=FitH"
            ) {
              (pdfView as HTMLObjectElement).data =
                "https://www.migneshglobal.com" +
                element.price_list +
                "#view=FitH";
            }
            // for image
            (pdfImage as HTMLImageElement).src =
              "https://www.migneshglobal.com" + element.price_list_image;
            // for download button
            const DownloadBtn = document
              .getElementById("download-btn")
              .querySelector(".btn-6") as HTMLAnchorElement;

            DownloadBtn.href =
              "https://www.migneshglobal.com" + element.price_list;

            DownloadBtn.download = element.price_list.slice(7);
          });
          innerP.innerText = element.custom_name;
          innerP.classList.add("bg-[#ffffff]", "py-1", "px-2", "rounded-lg");
          MonthPicker_div.appendChild(innerP);
        }
      });
    });
  </script>

  <!-- Styles  -->
  <style>
    */
    /* Uppercase for common Heading on the Index Page  */
    .head-txt h2 {
      text-transform: uppercase;
    }

    /* Banner Slider Animation */
    .slider .btn-1,
    .slider .btn-2,
    .slider .btn-3,
    .slider .btn-4 {
      transition: all 0.3s ease-in-out;
    }

    .slider .slide-1,
    .slider .slide-2,
    .slider .slide-3,
    .slider .slide-4 {
      animation: from-right 0.4s ease-in-out;
    }
    @keyframes from-right {
      0% {
        transform: translateX(100%);
        /* opacity: 0; */
      }
      100% {
        transform: translateX(0%);
        /* opacity: 1; */
      }
    }
    @keyframes to-left {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    /* Client Slider */
    .slick-slide {
      margin: 0px 10px;
    }

    .slick-slide img {
      width: 100%;
    }
    .slide {
      width: fit-content;
    }

    /* selectbox */
    SELECT {
      background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
        no-repeat;
      background-position: calc(100% - 0.75rem) center !important;
      -moz-appearance: none !important;
      -webkit-appearance: none !important;
      appearance: none !important;
      padding-right: 2rem !important;
    }

    /* Custom Class Styles For Banner Slider Image */
    /* @media (min-width: 550px) {
      .l-650 {
        left: -130px;
      }
    } */
    .pdf-view {
      width: 350%;
      height: 100%;
    }
    @media screen and (min-width: 375px) {
      .pdf-view {
        width: 300%;
      }
    }
    @media screen and (min-width: 475px) {
      .pdf-view {
        width: 250%;
      }
    }
    @media screen and (min-width: 600px) {
      .pdf-view {
        width: 200%;
      }
    }
    @media screen and (min-width: 768px) {
      .pdf-view {
        width: 150%;
      }
    }
    @media screen and (min-width: 1024px) {
      .pdf-view {
        width: 100%;
      }
    }

    .date-picker::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f500;
    }

    .date-picker::-webkit-scrollbar {
      width: 10px;
      background-color: #ffffff00;
    }

    .date-picker::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      background-color: #4b5eaa;
    }

    .date-picker {

      animation: datePicker 0.3s;
    }
    @keyframes datePicker {
      0% {

        opacity: 0;
        /* transform: scaleX(0); */

      }
      100% {
        opacity: 1;
        /* transform: scaleX(1); */
      }
    }
  </style>
</Layout>
