---
interface Props {
  url: string;
  name: string;
  position: string;
  links?: boolean;
  email?: string;
  facebook?: string;
  twitter?: string;
  linkedin?: string;
}

const { url, name, position, links, facebook, twitter, linkedin, email } =
  Astro.props;
---

<div class="t1 md:max-w-[276px]">
  <div class="1 w-[80%] m-auto md:w-fit rounded-full">
    <img class="m-auto" src={url} alt="image" />
  </div>
  <h3 class="text-[#48389C] text-lg font-bold mt-2 ssm:mt-3">
    {name}
  </h3>
  <p class="mb-1 ssm:mb-2">{position}</p>
  {
    !links && (
      <div class="email">
        <p class="text-[#737795] text-center">{email}</p>
      </div>
    )
  }

  {
    links && (
      <div class="social m-auto flex gap-2 ssm:gap-4 justify-center items-center">
        <a
          href={facebook}
          aria-label="facebook link "
          class="w-fit cursor-pointer  hover:rounded-3xl transition-all"
        >
          <svg
            class="hoverEffect"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.0119 0C11.9649 0.0268706 8.07607 1.57176 5.11805 4.32776C2.16003 7.08376 0.349268 10.8492 0.0454978 14.8759C-0.258272 18.9027 0.967181 22.8962 3.4784 26.0629C5.98962 29.2297 9.60283 31.338 13.6002 31.9691V20.3456H9.61384V16.1206H13.6002V13.306C13.6002 8.64798 15.8755 6.60043 19.7565 6.60043C20.8615 6.58675 21.966 6.65498 23.0609 6.80456V10.5161H20.4136C18.7707 10.5161 18.1942 12.075 18.1942 13.8318V16.1454H23.0175L22.3975 20.3704H18.1942V32C22.2151 31.4182 25.8675 29.3427 28.4205 26.189C30.9735 23.0352 32.2386 19.0358 31.9628 14.9911C31.687 10.9464 29.8905 7.15487 26.9329 4.37524C23.9753 1.59561 20.0748 0.032953 16.0119 0Z"
              fill="#A3A5B4"
            />
          </svg>
        </a>
        <a
          href={twitter}
          aria-label="twitter link"
          class="w-fit cursor-pointer  hover:rounded-3xl transition-all"
        >
          <svg
            class="hoverEffect "
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
          >
            <path
              d="M20.0993 23.8835H22.4859L11.5003 8.16971H9.11372L20.0993 23.8835Z"
              fill="#A3A5B4"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32ZM24.0389 7L17.4821 14.6218L24.613 25H19.3683L14.5661 18.0113L8.55384 25H7L13.8763 17.0074L7 7H12.2447L16.7919 13.6179L22.4852 7H24.0389Z"
              fill="#A3A5B4"
            />
          </svg>
        </a>
        <a
          href={linkedin}
          aria-label="LinkedIn link"
          class="w-fit cursor-pointer  hover:rounded-3xl transition-all"
        >
          <svg
            class="hoverEffect"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 0C12.8355 0 9.74207 0.938383 7.11088 2.69649C4.4797 4.45459 2.42894 6.95345 1.21793 9.87706C0.00693255 12.8007 -0.309921 16.0177 0.307443 19.1214C0.924806 22.2251 2.44866 25.0761 4.6863 27.3137C6.92394 29.5513 9.77486 31.0752 12.8786 31.6926C15.9823 32.3099 19.1993 31.9931 22.1229 30.7821C25.0466 29.5711 27.5454 27.5203 29.3035 24.8891C31.0616 22.2579 32 19.1645 32 16C32 11.7565 30.3143 7.68687 27.3137 4.68629C24.3131 1.68571 20.2435 0 16 0ZM11.1304 22.9565H8.34783V12.5217H11.1304V22.9565ZM9.73914 10.4348C9.46396 10.4348 9.19497 10.3532 8.96617 10.2003C8.73737 10.0474 8.55904 9.83013 8.45374 9.57591C8.34843 9.32168 8.32088 9.04193 8.37457 8.77205C8.42825 8.50216 8.56076 8.25425 8.75534 8.05968C8.94991 7.8651 9.19782 7.73259 9.46771 7.67891C9.73759 7.62522 10.0173 7.65277 10.2716 7.75808C10.5258 7.86338 10.7431 8.04171 10.896 8.27051C11.0488 8.49931 11.1304 8.7683 11.1304 9.04348C11.1304 9.41247 10.9839 9.76636 10.7229 10.0273C10.462 10.2882 10.1081 10.4348 9.73914 10.4348ZM24.3478 22.9565H21.5652V17.7391C21.5652 17.0934 21.3087 16.4741 20.8521 16.0175C20.3955 15.5609 19.7762 15.3043 19.1304 15.3043C18.4847 15.3043 17.8654 15.5609 17.4088 16.0175C16.9522 16.4741 16.6957 17.0934 16.6957 17.7391V22.9565H13.913V12.5217H16.6957V13.7878C17.3336 13.1713 18.139 12.7564 19.0113 12.595C19.8837 12.4335 20.7842 12.5326 21.6006 12.8799C22.4169 13.2273 23.1128 13.8074 23.6014 14.5478C24.09 15.2883 24.3496 16.1563 24.3478 17.0435V22.9565Z"
              fill="#A3A5B4"
            />
          </svg>
        </a>
      </div>
    )
  }
</div>

<style>
  .hoverEffect:hover path {
    fill: #fec49a;
  }
  .hoverEffect path {
    transition: all 0.3s;
  }
</style>
